@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #FD6F27;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    color: rgba(245, 250, 249, 0.993);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 1.4em;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}
.navigation a{
    color:rgb(46, 44, 44) ;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1em;
    font-style: italic;
    padding-left: 40px;
}
/*hover hia dal li kaykon fach kanhat l curseur*/
.navigation a:hover{
    color:#11e9e9 ;   
}
section{
    padding: 100px 90px;
}
.main{
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    background-color: rgb(27, 27, 27);
    /*background: url(images/me.png) no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;/*katkhali sora fblashta*/
}
*/

.main h1 {
    color: rgb(228, 171, 27);
    font-size: 1.7em;
    font-weight:900;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:#f84904;
    font-size: 1.2em;
    letter-spacing: 0.7px;
    font-style:italic;
    font-family: cursive;
    font-size: 1.1 em;
}
.main h2 {
    color: ghostwhite;
    font-size:1.8em;
    font-weight: 750;
    font-style: italic;
    
}
.main h3 {
    color: #ffff;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic;
}
.main-btn {
    color: rgb(243, 240, 237);
    background-color:#ec570c;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    border-radius: 15px ;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.6s ease;
    
}

.main-btn:hover{
    background-color:rgb(245, 107, 9);
    transform: scale(1.2);
}
.social-icons a{
    color: rgb(252, 248, 248);
    font-size: 2.5em;
    padding-right: 40px;
    transition:0.6s ;
}

.title {
    display: flex;
    justify-content: center;
    color:#FD6F27;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    
}
.content {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #d2e7a0;
    width: 17em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 10);
    border-radius: 20%;
    padding: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.card:hover{
    background-color:#fcbc68;
    transform: scale(1.2);

}
.icon {
    color:rgb(50, 42, 59);
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info h3 {
    color: rgb(102, 92, 3);
    font-size: 1.2em;
    font-weight: 800;
    margin: 10px;

}
.cards{
    background-color:rgb(27, 27, 27);
}


.more-details{
    text-decoration: none;
    color: rgb(34, 8, 184);
}
.more-details:hover{
    color:rgb(103, 2, 143) ;

}

.contact .icon{
    font-size: 4.5em;
    color: #1c1c88;
}
.contact .info h3 {
    color: black;
    
}

.contact .info p {
    font-size: 0.9em;
    font-weight: 1000;
    
}
.contact .card{
    background-color: #ebebd9;
    width: 20em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 10);
    border-radius: 50%;
    padding: 65px;
    margin: 30px;
    transition: 0.7s ease;
}
.contact .card:hover{
    background-color:#fcbc68;
    transform: scale(1.15);

    }
    .contact .info h3{
        color: #883004;
        font-size: 1.5em;
        font-style: italic;
        font-weight: 900;
    }
    .contact .info p{
        color: #302a2b;
        font-size: 1em;
        font-style:oblique;
        font-weight: 1500;
        
    }

footer{
    background-color:  rgb(27, 27, 27);
    /*loun text*/
    color: rgb(77, 72, 73);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.5em;
    font-weight: 1000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.footer-title span{
    color: whitesmoke;
    font-family:'serif';

}
.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;

    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media (max-width:300px){
    body{
        font-size: 10px;
    }
}

    