@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(27, 27, 27);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    color: rgba(245, 250, 249, 0.993);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 1.4em;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.6s ease;
}


.logo:hover{
    
    transform: scale(1.1);
}


.navigation a{
    color:rgba(245, 250, 249, 0.993) ;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1em;
    font-style: italic;
    padding-left: 40px;
    transition: 0.6s ease;
}
/*hover hia dal li kaykon fach kanhat l curseur*/
.navigation a:hover{
    color:goldenrod;   
    transform: scale(1.2);
}
section{
    padding: 100px 90px;
}
.main{
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    background-color: rgb(27, 27, 27);
    background: url(images/back.png) no-repeat;
    background-size:cover;
    background-position: center;
    
    /*background-attachment: fixed;/*katkhali sora fblashta*/
}

.main h1 {
    color: goldenrod;
    font-size: 1.7em;
    font-weight:900;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:#f84904;
    font-size: 1.2em;
    letter-spacing: 0.7px;
    font-style:italic;
    font-family: cursive;
    font-size: 1.1 em;
}
.main h2 {
    color: ghostwhite;
    font-size:1.8em;
    font-weight: 750;
    font-style: italic;
    
}
.main h3 {
    color: #ffff;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic;
}
.main-btn {
    color: rgb(243, 240, 237);
    background-color:#ec570c;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    border-radius: 15px ;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.6s ease;
    
}

.main-btn:hover{
    background-color:rgb(245, 107, 9);
    transform: scale(1.2);
}
.social-icons a{
    color: rgb(252, 248, 248);
    font-size: 2.5em;
    padding-right: 40px;
    transition:0.6s ;
}

.title {
    display: flex;
    justify-content: center;
    color:#FD6F27;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
   
}
.content {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainSkl{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    background-color: rgb(27, 27, 27);
    /*background: url(images/skills.png) no-repeat;
    background-size:cover;
    background-position: center;
    /*background-attachment: fixed;/*katkhali sora fblashta*/
}
.Skills{
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 60px auto;
    background-color: rgb(27, 27, 27);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Skills li{
    margin: 20px 0;
    padding: 10px;
    list-style: none;;
}
.Skills h1{
    color: #FD6F27;
    font-style: italic;
    text-align: center; 
    margin: 0 auto; 
    width: fit-content; 
    
}
.Skills h3{
    color: aliceblue;
    font-style: italic;
}

.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 253, 253, 0.22);
    transition: 0.7s;
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(218, 165, 32)0%, rgba(252, 103, 103, 1)100%);
}
.Html{
    width: 90%;
    animation: Html 3s;
}
.Css{
    width: 75%;
    animation: Css 3s;
}
.Cpp{
    width: 80%;
    animation: Cpp 3s;
}
.Javascript{
    width: 55%;
    animation: Javascript 3s;
}
.Java{
    width: 45%;
    animation: Java 3s;
}

.Communication{
    width: 100%;
    animation: Html 3s;
}
.Teamwork{
    width: 80%;
    animation: Css 3s;
}
.Creativity{
    width: 65%;
    animation: Cpp 3s;
}
.ProjectManagement{
    width: 90%;
    animation: Javascript 3s;
}
.ProblemSolving{
    width: 85%;
    animation: Java 3s;
}



.Contact{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(27, 27, 27);

 }
 .Contact h1{
    color: #FD6F27;
    font-style: italic;
    text-align: center; 
    margin: 0 auto; 
    width: fit-content; 
    
 }
 .Contact p {
    color: #ffff;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic;

 }
 .Container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5px;

 }
 .Contact form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
 }
 .Contact input , textarea , label{
    display: block;
    margin: 0 auto;
    width: 100%;
    color: antiquewhite;

 }
 .Contact input , textarea { 
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #FD6F27; 
 }
 .Contact input[type=submit]{
    background-color: #ec570c;
    padding: 15px 0 ;
    color: rgb(243, 240, 237);
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 22px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.6s ease;
    width: 200px;  
 }

 .Contact input[type=submit]:hover{
    background-color:rgb(245, 107, 9);
    transform: scale(1.2);
    
}
.Contact input , textarea{
    color: white;
    font-size: 18px;
    padding: 10px;
}
.Contact input:focus , textarea:focus{
    color: #ec570c;
    outline: 1px solid;

}

footer{
    background-color:  rgb(27, 27, 27);
    /*loun text*/
    color: rgb(77, 72, 73);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.5em;
    font-weight: 1000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.footer-title span{
    color: whitesmoke;
    font-family:'serif';

}
.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;

    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    

}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
   

    
}

@media screen and (max-width: 480px) {
    .Skills{
        align-items: center;
        justify-content: center;
        width: 300px;
        margin: 50px auto;
        background-color: rgb(27, 27, 27);
        padding: 5px;
     }
     .Container {
        max-width: 270px;
        margin: 40 auto;
        padding: 5px;
        
    }
    .Contact input[type=submit]{
        
        padding: 10px 0 ;
        
        font-size: 11px;
        
        margin-top: 10px;
       
        border-radius: 22px;
        font-weight: 600; 
        margin-bottom: 40px;   
        width: 90px; 
     }
     .Contact form {
        max-width: 700px;
        margin: 0 auto;
        text-align: left;
        padding: 20px 0;
     }
     .Contact textarea{
        height: 100px;
        width: 100%;
     }
     .Contact form {
        max-width: 300px;
        padding: 20px 0;
 }
 .Contact h1{
    font-size: 25px;
    text-align: center; 
    margin: 0 auto; 
    width: fit-content; 
    
 }
 .Contact p {
    font-size: 1em;
 }
 .main{
    background-attachment: fixed;/*katkhali sora fblashta*/
}
.Skills{
    width: 160px;
    height: 490px;
    margin: 30px auto;
    padding: 0px;
}
.Contact input , textarea{
    font-size: 12px;
    padding: 10px;   
}
.Skills h1{
    
   font-size: 21px;
    
}
.Skills h3{
   font-size: 12px;
}
.bar{
    height: 15px;
    border: 4.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    
}
.Skills li{
    margin: 25px 0;
    padding: 10px;
}
}

@media (max-width:300px){
    body{
        font-size: 10px;   
    }
    
  }




